
{% macro render_input(name,placeholder,type='text') %}

<div class="control-group">
    <label for="{{name}}" class="control-label">{{placeholder}}</label>
    <div class="control">
        <input type="{{text}}" name="{{name}}" class="input-xlarge" placeholder="{{placeholder}}">
    </div>
</div>

{%endmacro%}


{% macro render_Firld(field) %}

<div class="control-group">
    <div class="controls">
        {{field.label}}
        {{field(**kwargs)|safe}}
    </div>
</div>

{%if field.errors%}

<ul>
    {%for error in field.errors%}
    <li style="color:red">
        {{ error }}
    </li>
    {% endfor %}
</ul>

{% endif %}

{%endmacro%}

{%macro render_cajas(numero)%}
<div class="form-group">
  <label for="numero{{numero+1}}" class="control-label">Número {{numero+1}}:  </label>
  <input type="number", name="numero{{numero+1}}" value=0>
</div>
{%endmacro%}

{%macro render_simple_text(type, result)%}
<p>El {{type}} es: {{result}} </p>
{%endmacro%}

{%macro repeat_nums(repeat)%}
  {%if repeat[1] > 1%}
  <p>El número {{repeat[0]}} se repitió {{repeat[1]}} veces. </p>
  {%endif%}
{%endmacro%}

{% macro render_t(field) %}
    <div class="control-group">
        <div class="controls">
            {{field.label}}        
            {{field(**kwargs)|safe}}
        </div>
    </div>
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li style="color:red">
                    {{error}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}




