{%block content%}
  <div>
    <h1>Resultados para "{{comas}}": </h1><br>
    <hr>

    <h3>Datos Generales</h3>
    {%from "_macros.html" import render_simple_text%}
    {{render_simple_text('promedio', promedio)}}
    {{render_simple_text('Numero Menor', nMenor)}}
    {{render_simple_text('Numero Mayor', nMayor)}}

    <hr>

    <h3>Números Repetidos</h3>
    {%from "_macros.html" import repeat_nums %}
    {%for rep in repetidos%}
    {{repeat_nums(rep)}}
    {%endfor%}
  </div>
  
{%endblock%}